; https://docs.npmjs.com/cli/v8/using-npm/config#lockfile-version
; requires npm version >= 7
lockfile-version=3

# ; @stockastix uses the github registry instead of the default (npm) registry
# ; https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-npm-registry#installing-a-package
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN_READ_PACKAGES}
@stockastix:registry=https://npm.pkg.github.com/